html, body {
    margin: 0;
    height: 100%;
    font-family: 'Baloo Bhaina', cursive;
}

a{
    color: black;
    text-decoration: none;
}

.outer-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.choices-container {
    order: 1;
    display:flex;
    height: 100%;
    flex-flow: row wrap;
    flex-grow: 2;
}

.left-container, .right-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    order: 1;
    flex: 1 auto;
    background-color: white;
    -webkit-transition: flex-grow 1s ease;
    transition: flex-grow 1s ease;
}

.animated-left-container {
    flex-grow: 0.001;
}

.animated-right-container {
    flex-grow: 0.001;
}

.right-container {
    background-color: black;
}

.right-container a {
    color: white;
}

.left-title, .right-title {
    flex: 1 100%;
}

.left-title {
    order: 1;
    text-align: right;
    font-size: 48px;
    margin-right: 20px;
}

.right-title {
    order: 1;
    font-size: 48px;
    margin-left: 20px;
    color: white;
}

.inner-content {
    order: 2;
    font-size: 22px;
    text-align: center;
    width: 300px;
}

.bottom-container {
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.35);
    background-color: #00e1b9;
    padding-right: 20px;
    font-size: 14px;
    order: 2;
    flex: 0.001;
    text-align: right;
}

.bottom-container a {
    color: white;
}
