<!DOCTYPE html>
<html ng-app="choices_game">
    <head>
        <meta charset="utf-8">
        <title>Nuevo dilema</title>
        <script src="../bower_components/modernizr/bin/modernizr" charset="utf-8"></script>
        <script src="../bower_components/angular/angular.js" charset="utf-8"></script>
        <script src="../bower_components/angular-route/angular-route.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/js/controllers.js" charset="utf-8"></script>
    </head>
    <body ng-controller="QuestionFormCtrl">
        <div>
            <label>Opcion izquierda</label>
            <input type="text" ng-model="opcion_izq" />
            <br/>
            <label>Opcion derecha</label>
            <input type="text" ng-model="opcion_der" />
            <button ng-click="createQuestion()">Enviar</button>
        </div>
    </body>
</html>
